{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Malav's Ecommerce Website</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <centre>
            <div class="col-5">
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis justo justo, varius non pretium a, cursus non erat. Maecenas vitae urna ac tortor venenatis tincidunt. Duis vitae vestibulum dui, eget tincidunt erat. Nullam bibendum gravida arcu ut venenatis. Aliquam tincidunt, lacus nec tempor scelerisque, magna enim tincidunt augue, ac dictum urna tortor at nisi. Suspendisse hendrerit condimentum porta. Nulla facilisi. Fusce sed ornare tellus, sed viverra lorem. Morbi vitae dapibus tellus. Etiam malesuada fringilla lacus eu tincidunt. In finibus fermentum quam at porttitor. Donec tristique elit vitae nisi feugiat, a vehicula dolor fermentum. Cras venenatis erat ante, eu laoreet nisi posuere et.
                    <br/><br/>
                    Praesent ut lorem a eros vestibulum porttitor. Integer pellentesque risus eget ex vestibulum, vitae porttitor nisl tristique. Etiam faucibus aliquam urna, ut tempus lorem venenatis eu. Cras ut lectus dignissim, mollis purus vitae, aliquet urna. Sed nec posuere sapien. Morbi consequat orci bibendum lectus fermentum gravida. Suspendisse pharetra lobortis purus ultricies ullamcorper. Vestibulum imperdiet est turpis, id congue ante rutrum quis. Curabitur quis risus molestie, facilisis diam a, facilisis massa. Fusce accumsan mi nisl, non accumsan arcu venenatis at. Aenean eu elit ante. Sed ut pharetra magna, eget dignissim mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis consectetur leo lectus. Nam ut mauris eget est commodo pulvinar.
                    <br/><br/>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi facilisis in lacus varius blandit. Etiam cursus pellentesque lectus, in placerat lacus imperdiet sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce congue venenatis iaculis. Curabitur molestie ut mauris at dignissim. Maecenas accumsan ante vel eros porttitor, porttitor ultrices libero aliquam.
                    <br/><br/>
                </p>
            </div>
        </centre>
    </div>
</div>
{% endblock %}